*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root{
    background-image: url(../src/Logo/radiant-gradient.svg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.black_style{
    width: 80vw;
    height: 80vh;
    overflow: scroll;
    background-color: azure;
    position: absolute;
    
}